<header>
  <div>
    <h1>CommunityPost</h1>
  </div>
  <button mat-raised-button color="primary" (click)="onLogout()">Log Out</button>
</header>
<mat-divider></mat-divider>

<main>
  <nav mat-tab-nav-bar  [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="/users" (click)="activeLink = '/users'" [active]="activeLink == '/users'" > COMMUNITY</a>
    <a mat-tab-link routerLink="/posts" (click)="activeLink = '/posts'" [active]="activeLink == '/posts'" > POSTS </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</main>

