<div class="outside-div">
  <div  class="user-info" *ngFor="let user of userInfo">
    <img src="../../assets/blank-profile.png">
    <p><strong>General Info:</strong></p>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Gender:</strong> {{ user.gender }}</p>
    <button *ngIf="actualUser === user.id" mat-flat-button color="primary" (click)="openDialog()">Update</button>
  </div>
  <div *ngIf="noPostDiv" class="user-posts no-post"><h3>No Post avaliable</h3></div>
  <div class="user-posts" *ngIf="!noPostDiv">
    <mat-card *ngFor="let post of userPosts; index as i">
      <mat-card-header><strong>{{ post.title }}</strong></mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>{{ post.body }}</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button routerLink="/posts/{{ post.id }}" matTooltip="Show the comments">
          <mat-icon color="primary" class="icon-comments" >chat-bubble</mat-icon>
        </button>
        <form [formGroup]="commentFormGroups[post.id]" (ngSubmit)="onComments(post.id)" *ngIf="actualUser !== 0">
          <mat-form-field class="textarea">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Share your idea..." type="textarea" formControlName="comments" required></textarea>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" [disabled]="!commentFormGroups[post.id].valid">Comment</button>
        </form>
      </mat-card-actions>  
        <div *ngFor="let comment of postsComments" >
          <p *ngIf="comment.post_id === post.id"><strong>{{ comment.name }} </strong>said: {{ comment.body }}</p>
        </div>
    </mat-card>
    
  </div>
</div>
