<div class="outside-div">
  <div class="post-div">
    <mat-card *ngFor="let post of post">
      <mat-card-header><strong>{{ post.title }}</strong></mat-card-header> 
      <mat-divider ></mat-divider>
      <mat-card-content>{{ post.body }}</mat-card-content>
      <mat-card-actions>
        <form [formGroup]="commentsForm" (ngSubmit)="onComments(post.id)">
          <mat-form-field class="textarea">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Share your idea..." formControlName="comments" required></textarea>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" [disabled]="!commentsForm.valid">Comment</button>
        </form>
      </mat-card-actions> 
    </mat-card>
  </div>
  
    <div *ngFor="let comment of postComments" class="comments-div">
      <p><strong>{{ comment.name }} </strong>said: {{ comment.body }}</p>
    </div>
  </div>

