form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 80%;
  margin-top: 10px;
}

.textarea {
  height: 60%;
}

.buttons button {
  margin-left: 10px;
}